{% extends "orders/base.html" %}

{% block content%}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
        
        <div class="row">
                <div class="col-lg-9"><h2>Order No. {{orderitems.first.orderID_id}}</h2></div>
                <div class="col-lg-3">
                    <form action="{% url 'updateOrderStatus' %}" method="POST">
                        <input type="hidden" value="{{order.first.id}}" name="order_id">
                        {% csrf_token %}
                    <select name="status">
                            {% for value, text in Order_Statuses %}
                            <option value="{{ value }}" "{% if order.first.status == value %} selected {% endif %}">{{ text }}</option>
                            {% endfor %}
                        
                    </select>
                    <button type="submit" class="btn btn-primary"" >Update status</button>
                </form>
                </div>
            </div>
        <div class="card mb-4">
                <h5 class="card-header">Customer details:</h5>
                <div class="card-body">
                    <div class="row">
                            <div class="col-lg-6"><p class="card-text"><strong>Name: </strong>{{ order.first.user}}</p></div>
                            <div class="col-lg-6"><p class="card-text"><strong>Status: </strong>{{order.get.get_status_display}}</div>
                            <div class="col-lg-6"><p class="card-text"><strong>Email: </strong>{{ order.first.user.email}}</p></div>
                            <div class="col-lg-6"><p class="card-text"><strong>Submitted: </strong>{{ order.first.created}}</p></div>
                    </div>
                </div>
         </div>
        <table class="table">
            <thead>
                <tr>
                    
                    <th>Item</th>
                    <th>Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in orderitems %}
                <tr>
                    
                    <th scope="row">{{ item.item_description }}</th>
                    <td><strong>{{item.quantity}}</strong></td>
                    <td class="currency">{{item.price}}</td>
                    <td class="currency">{{item.total_price}}</td>
                    
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Total</td>
                    <td class="currency"><strong>{{order.first.total_price}}</strong></td>
                </tr>
            </tbody>
        </table>
        
    </div>
  </div>
</div>


{% endblock %}
